/*********************** all setings ***********************/
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

ul,ol{
    padding: 0;
    margin: 0;
}

/*********************** header ***********************/
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
        align-items: center;
        
}

address{
    font-style: normal;
    margin-left: auto;
}

.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    line-height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-web-span {
    color: #2E2F42;
}

.header-item{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-item-address{
    display: flex;
        align-items: center;
        gap: 40px;
    
}

.header-link {
    color: #2E2F42;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;
}
.header-link:hover {
    color: #404BBF;
}
.header-link:focus {
    color: #404bbf;
}
.header-link:active{
    text-decoration: underline;
    color: #404BBF;
}

.address-link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
        padding: 24px 0;
}
.address-link:hover {
    color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.address-link:focus {
    color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
/*********************** hero ***********************/

.hero {
 background-color: #2E2F42;
padding-top: 188px;
    padding-bottom: 188px;
}
.hero-tittle {
    color: #ffffff;
    line-height: 1.07;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}

.hero-button {
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    border: none;
    min-width: 169px
}
.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

.hero-container{
    
}

/*********************** section-abaut ***********************/
.abaut-subtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em; 
    color: #2E2F42;
    margin-bottom: 8px;
}
.abaut-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.abaut-item{
    display: flex;
    align-items: center;
    gap: 24px;
}

.abaut-list{
    max-width: calc((100% - 3 * 40px) / 4);
}

.abaut-list:first-child {
    width: calc((100% - 3 * 24px) / 4);
}

.abaut-title{
    visibility: hidden;
}

.abaut-container{
    max-width: 1158px;
    
   
}

.abaut{
    padding: 120px 0;
}

/*********************** section-team ***********************/
.team{
    background-color:#F4F4FD;
    padding: 120px 0;
}
.team-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-item{
   display: flex;
   gap: 24px;
}

.team-list{
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}

.team-list:first-child {
    width: calc((100% - 72px) / 4);
}

.team-subtitle{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    
    
}
.team-text{
    color: #434455;
    font-size: 16px;
     font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    
}

.team-list-text{
    padding: 32px 0;
}

.team-container{
    
}




/*********************** portfolio ***********************/
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-container{

}

.portfolio-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-subtitle{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    padding-left: 16px;padding-top: 32px;
    
}
.portfolio-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-left: 16px;
    padding-bottom: 32px;
}
/*********************** footer ***********************/
.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-link{
   color: #4D5AE5;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-span{
    color: #F4F4FD;
    
}
.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    line-height: 1.5;
    max-width: 264px;
}

.footer-container{
  
}
